/*todo use light touch css to ensure the focused element is clearly distinguishable from the rest
   https://developer.chrome.com/docs/extensions/how-to/ui/a11y#navigation
   seems to have been handled by tailwind's defaults, but need to double check again after finishing ui overhaul*/

#history {
    height: 45vh; /*history view should take up a plurality of the side panel's space*/
    border: 2px saddlebrown solid;/*todo harmonize this with color choices in html*/
    padding-left: 15px;/*?*/
}

#history-label {
    color: saddlebrown;/*todo harmonize this with color choices in html*/
}

#history li {
    border: 1px saddlebrown dotted;/*todo harmonize this with color choices in html*/
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}

#history li.task_start {
    background-color: rgba(93, 255, 85, 0.5);/*todo harmonize this with color choice in html*/
    color: black;
}

#history li.task_end {
    background-color: rgba(167, 39, 255, 0.5);/*todo harmonize this with color choice in html*/
    color: black;
}

#status-update-container {
    display: flex;
    align-items: center;
    justify-items: left;
    height: 50px;
    overflow-y: auto;
}


#status-details-tooltip {
    color: black;/*todo check if necessary*/
    border-radius: 6px;
    box-sizing: border-box;
}

/*otherwise the planning output in the details popup has way too many blank lines/vertical whitespace*/
#status-details-tooltip {
    & p, & li, & ul, & ol, & h1, & h2, & h3, & h4, & h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
